
.form-title {
  font-size: 48px;
  margin-bottom: 40px;
  margin-top: 20px;
  text-transform: uppercase;
  color: $grey70;
}

.input-title {
  text-transform: uppercase;
  color: $grey70;
  margin: 40px 0 20px;
  letter-spacing: 1px;
}

textarea:focus {
  outline: none;
}

.add-post-content {
  width: 100%;
  height: 200px;
}
