.panel {
  height: 100vh;
  position: absolute;
  top: 0;
  overflow: auto;
  padding: 30px;
}


.left-panel {
  background-color: $blue-grey;
  width: 23%;
  left: 0;
}

.middle-panel {
  background-color: $neutral-grey;
  width: 42%;
  left: 27.5%;
}

.right-panel {
  background-color: white;
  width: 35%;
  right: 0;
}

.double-panel {
  background-color: $neutral-grey;
  width: 77%;
  right: 0;
}
